.section1{
  margin-left: 0px;
  margin-right: 0px;
  margin-top: 1%;
  width: 100%;
  height: 60px;
  background-color: #FCCA88;
}

.section2{
  margin-left: 0px;
  margin-right: 0px;
  margin-top: 1%;
  width: 100%;
  height: 160px;
  background-color: #88FCC8;
}