<html>
   
    <head>
         <title>Smile</title>
        <%= stylesheet_link_tag  "sheet.css"  %>
    </head>
    <body>
        <div class = "section1">
        </div>
        <div class = "section2">
            <h1>a</h1> <br><br>

            <h4>Add any single letter after the '/' of this website to see why you should <b>Smile</b> today! =] </h4>
        </div>
        <div class = "section1">
        </div>

    </body>
</html>