<html>
    
    <head>
        <title>Smile</title>
        <link rel="stylesheet" type="text/css" href= "sheet.css"/> 
    </head>
    <body>

    <h1>Hey! Welcome to My Page!</h1> <br><br>

    <h4>Add any single letter after the '/' of this website to see why you should <b>Smile</b> today! =] </h4>
    </body>
</html>